#calendar-month {
    position: fixed;
    margin-top: 0px;
    width: 180px;
}

.date-header {
    padding-left: 200px;
}

#articles {
    padding-left: 200px;
}

.week {
    
}

.day {
    width: 25px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}