#calendar-month {
    position: fixed;
    margin-top: 25px;
    margin-left: 25px;
    width: 180px;
}

.date-header {
    padding-left: 30%;
    padding-bottom: 15px;
}

#date-display {
    width: 150px;
    display: inline-block;
    text-align: center;
}

#articles {
    /* padding-left: 200px; */
}

.article-container {
    margin-left: 300px;
    padding-top: 25px;
    padding-left: 25px;
    height: 1000px;

    background-image: linear-gradient(rgb(130 250 215), rgb(241 247 148));
}

.week {
    
}

.day {
    width: 25px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}


#calendar-title {
    width: 120px;
    display: inline-block;
}

.link-active {
    color: blue;
}

.link-inactive {
    color: gray;
}