.main-container {

}


.year-block {
    width: 500px;
}

.month-block {
    padding-left: 80px;
}


.year-label {
    font-weight: bold;
    position: fixed;
}


.month-label {
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.centered {
    padding-left: 35%;
    width: 350px;
}