server/_shared/Secrets.py
sandbox/WebsiteBuilder/.vs/*
sandbox/WebsiteBuilder/packages/*
websitev2/_site
websitev2/node_modules
websitev2/_bin
serverv2/APIs/Core/Secrets.cs
server/dbMigration/searchResults
websitev2/buildTools/articlesByDate
serverv2/WebcrawlerAPIs/Core/Secrets.py
serverv2/DataAPIs/Core/Secrets.cs
websitev2/buildTools/secrets.js

.vs/