sandbox/WebsiteBuilder/.vs/*
sandbox/WebsiteBuilder/packages/*

server/_shared/Secrets.py
server/APIs/Core/Secrets.cs
server/dbMigration/searchResults
server/WebcrawlerAPIs/Core/Secrets.py
server/DataAPIs/Core/Secrets.cs

website/_site
website/node_modules
website/_bin
website/buildTools/articlesByDate
website/buildTools/secrets.js
website/package-lock.json

.vs/