---
title: Flex Test
---

{% comment %} <div class="FlexTest-container">
    <div class="FlexTest-leftBox">

    </div>

    
    <div class="FlexTest-rightBoxContainer">
        <div class="FlexTest-rightBox">
            <div class="FlexTest-column" style="background: #b4fbff;">
                HI THERE!!!!
            </div>
            <div class="FlexTest-column" style="background: #f7f5a2;">
                HI THERE 2!!!!!!!
            </div>
            <div class="FlexTest-column" style="background: #ddb4ff;">
                HI THERE 3!!!!!
            </div>
            <div class="FlexTest-column" style="background: #b4ffc1;">
                HI THERE 4!!!!!
            </div>
            <div class="FlexTest-column" style="background: #ffc3b4;">
                HI THERE 5!!!!!
            </div>
            <div class="FlexTest-column" style="background: #ffb4da;">
                HI THERE 6!!!!!
            </div>
        </div>
    </div>
    
    
</div> {% endcomment %}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<html lang="en">
  <head>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/site.css">

    <!-- code -->
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    {% if includeScript != null %}
    <script src="{{ includeScript }}"></script>
    {% endif %}

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
  </head>

  <body>
    <div>HEADER</div>

    <div>
        BODY
    </div>

    <div>FOOTER</div>
  </body>
</html>