<div class="Calendar-container">
    <div class="Calendar-row">
        <a class="Calendar-cell">S</a>
        <a class="Calendar-cell">M</a>
        <a class="Calendar-cell">T</a>
        <a class="Calendar-cell">W</a>
        <a class="Calendar-cell">T</a>
        <a class="Calendar-cell">F</a>
        <a class="Calendar-cell">S</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell day-no-date">-</a>
        <a class="Calendar-cell day-no-date">-</a>
        <a class="Calendar-cell day link-active">1</a>
        <a class="Calendar-cell day link-active">2</a>
        <a class="Calendar-cell day link-inactive">3</a>
        <a class="Calendar-cell day link-active">4</a>
        <a class="Calendar-cell day link-active">5</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell day link-active">6</a>
        <a class="Calendar-cell day link-active">7</a>
        <a class="Calendar-cell day link-active">8</a>
        <a class="Calendar-cell day link-active">9</a>
        <a class="Calendar-cell day link-inactive">10</a>
        <a class="Calendar-cell day link-active">11</a>
        <a class="Calendar-cell day link-active">12</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell day link-active">13</a>
        <a class="Calendar-cell day link-active">14</a>
        <a class="Calendar-cell day link-active">15</a>
        <a class="Calendar-cell day link-inactive">16</a>
        <a class="Calendar-cell day link-active">17</a>
        <a class="Calendar-cell day link-active">18</a>
        <a class="Calendar-cell day link-active">19</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell day link-active">20</a>
        <a class="Calendar-cell day link-active">21</a>
        <a class="Calendar-cell day link-active">22</a>
        <a class="Calendar-cell day link-active">23</a>
        <a class="Calendar-cell day link-active">24</a>
        <a class="Calendar-cell day link-active">25</a>
        <a class="Calendar-cell day link-active">26</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell day link-active">27</a>
        <a class="Calendar-cell day link-active">28</a>
        <a class="Calendar-cell day link-active" id="current-date-highlight">29</a>
        <a class="Calendar-cell day-no-date">30</a>
        <a class="Calendar-cell day-no-date">31</a>
        <a class="Calendar-cell day-no-date">-</a>
        <a class="Calendar-cell day-no-date">-</a>
    </div>
</div>