<div class="Calendar-container" id="Calendar-calendar">
    <div class="Calendar-row Calendar-header">
        <button onclick="goToPreviousMonth()">&lt;&lt;</button>
        <button onclick="goToPreviousMonth()">&lt;</button>
        <span class="Calendar-monthYearDisplay">August, 2001</span>
        <button onclick="goToNextMonth()">&gt;</button>
        <button onclick="goToNextMonth()">&gt;&gt;</button>
    </div>

    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-dayLabel">S</a>
        <a class="Calendar-cell Calendar-dayLabel">M</a>
        <a class="Calendar-cell Calendar-dayLabel">T</a>
        <a class="Calendar-cell Calendar-dayLabel">W</a>
        <a class="Calendar-cell Calendar-dayLabel">T</a>
        <a class="Calendar-cell Calendar-dayLabel">F</a>
        <a class="Calendar-cell Calendar-dayLabel">S</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-linkActive">1</a>
        <a class="Calendar-cell Calendar-linkActive">2</a>
        <a class="Calendar-cell Calendar-linkInactive">3</a>
        <a class="Calendar-cell Calendar-linkActive">4</a>
        <a class="Calendar-cell Calendar-linkActive">5</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">6</a>
        <a class="Calendar-cell Calendar-linkActive">7</a>
        <a class="Calendar-cell Calendar-linkActive">8</a>
        <a class="Calendar-cell Calendar-linkActive">9</a>
        <a class="Calendar-cell Calendar-linkInactive">10</a>
        <a class="Calendar-cell Calendar-linkActive">11</a>
        <a class="Calendar-cell Calendar-linkActive">12</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">13</a>
        <a class="Calendar-cell Calendar-linkActive">14</a>
        <a class="Calendar-cell Calendar-linkActive">15</a>
        <a class="Calendar-cell Calendar-linkInactive">16</a>
        <a class="Calendar-cell Calendar-linkActive">17</a>
        <a class="Calendar-cell Calendar-linkActive">18</a>
        <a class="Calendar-cell Calendar-linkActive">19</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">20</a>
        <a class="Calendar-cell Calendar-linkActive">21</a>
        <a class="Calendar-cell Calendar-linkActive">22</a>
        <a class="Calendar-cell Calendar-linkActive">23</a>
        <a class="Calendar-cell Calendar-linkActive">24</a>
        <a class="Calendar-cell Calendar-linkActive">25</a>
        <a class="Calendar-cell Calendar-linkActive">26</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">27</a>
        <a class="Calendar-cell Calendar-linkActive">28</a>
        <a class="Calendar-cell Calendar-linkActive" id="Calendar-hightlight">29</a>
        <a class="Calendar-cell Calendar-linkInactive">30</a>
        <a class="Calendar-cell Calendar-linkInactive">31</a>
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-empty">-</a>
    </div>
</div>