<div class="Calendar-container">
    <div class="Calendar-row">
        <a class="Calendar-cell">S</a>
        <a class="Calendar-cell">M</a>
        <a class="Calendar-cell">T</a>
        <a class="Calendar-cell">W</a>
        <a class="Calendar-cell">T</a>
        <a class="Calendar-cell">F</a>
        <a class="Calendar-cell">S</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-linkActive">1</a>
        <a class="Calendar-cell Calendar-linkActive">2</a>
        <a class="Calendar-cell Calendar-linkInactive">3</a>
        <a class="Calendar-cell Calendar-linkActive">4</a>
        <a class="Calendar-cell Calendar-linkActive">5</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">6</a>
        <a class="Calendar-cell Calendar-linkActive">7</a>
        <a class="Calendar-cell Calendar-linkActive">8</a>
        <a class="Calendar-cell Calendar-linkActive">9</a>
        <a class="Calendar-cell Calendar-linkInactive">10</a>
        <a class="Calendar-cell Calendar-linkActive">11</a>
        <a class="Calendar-cell Calendar-linkActive">12</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">13</a>
        <a class="Calendar-cell Calendar-linkActive">14</a>
        <a class="Calendar-cell Calendar-linkActive">15</a>
        <a class="Calendar-cell Calendar-linkInactive">16</a>
        <a class="Calendar-cell Calendar-linkActive">17</a>
        <a class="Calendar-cell Calendar-linkActive">18</a>
        <a class="Calendar-cell Calendar-linkActive">19</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">20</a>
        <a class="Calendar-cell Calendar-linkActive">21</a>
        <a class="Calendar-cell Calendar-linkActive">22</a>
        <a class="Calendar-cell Calendar-linkActive">23</a>
        <a class="Calendar-cell Calendar-linkActive">24</a>
        <a class="Calendar-cell Calendar-linkActive">25</a>
        <a class="Calendar-cell Calendar-linkActive">26</a>
    </div>
    <div class="Calendar-row">
        <a class="Calendar-cell Calendar-linkActive">27</a>
        <a class="Calendar-cell Calendar-linkActive">28</a>
        <a class="Calendar-cell Calendar-linkActive" id="Calendar-hightlight">29</a>
        <a class="Calendar-cell Calendar-linkInactive">30</a>
        <a class="Calendar-cell Calendar-linkInactive">31</a>
        <a class="Calendar-cell Calendar-empty">-</a>
        <a class="Calendar-cell Calendar-empty">-</a>
    </div>
</div>