.Browse-container {
    width: 70%;
    min-width: 738px;
    max-width: 969px;
    margin: 10px auto 20px auto;
}

.Browse-container div {
    display: flex;
}

.Browse-browseByLabel {
    width: 100px;
    align-content: center;
}

#Browse-browseBySelect {
    width: 150px;
    margin: 0px 10px;
    padding-left: 5px;
}

#Browse-filterInput {
    width: 100%;
}

#Browse-filterCriteriaContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.Browse-filterCriteria {
    margin-top: 15px;
}

.Browse-filterCriteriaDescription {
    margin-left: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.Browse-filterCriteriaDeleteBtn {
    width: 30px;
    height: 30px;
    padding: 4px 4px 5px 5px;
    color: #e33a3a;
}

.Browse-submitBtnContainer {
    margin-top: 50px;
}