.Browse-container {
    width: 70%;
    min-width: 738px;
    max-width: 969px;
    margin: 10px auto 20px auto;
}

.Browse-container div {
    display: flex;
}

.Browse-browseByLabel {
    width: 100px;
    align-content: center;
}

#Browse-browseBySelect {
    width: 150px;
    margin: 0px 10px;
    padding-left: 5px;
}