.Component-card {
    border: solid gray 1px;
    padding: 10px;
    display: inline-block;
    font-size: var(--small-font);
    margin-top: 10px;
    margin-right: 10px;

    .Component-cardCloseBtn:before {
        content: '✕';
        font-size: 8px;
        padding: 2px;
    }
    .Component-cardCloseBtn {
        position: relative;
        top: -8px;
        right: -5px;
        cursor: pointer;
    }
}