
.Filter-container {
    cursor: pointer;
    margin-top: 20px;
    font-weight: 800;
    display: flex;
    flex-direction: column;

    details {
        margin-top: 10px;

        summary {
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-weight: 800;

            &::after {
                content: "+";
                font-weight: bold;
                padding-right: 20px;
            }
        }

        div {
            /* margin-left: 20px; */
            font-weight: 400;
        }
    }
    details[open] {
        summary::after {
            content: "-";
            font-weight: bold;
            padding-right: 20px;
        }
    }

    details:hover {
        cursor: pointer;
    }

    details:last-of-type summary::-webkit-details-marker {
        display: none;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dddddd;
        margin: 1em 0;
        padding: 0;
    }

    /* .Filter-containerExpander {
        list-style: none;
        display: flex;
        justify-content: space-between;

        &::after {
            content: "+";
            font-weight: bold;
            padding-right: 20px;
        }
    } */

    /* &[open] {
        .Filter-containerExpander::after {
            content: "-";
            font-weight: bold;
            padding-right: 20px;
        }
    } */
}