<!-- month name lookups -->
{% assign monthNames = "NULL,January,February,March,April,May,June,July,August,September,October,November,December" | split: ',' %}

<div class="Archive-dateDisplay">
    <button id="Archive-articleDateBackBtn">&lt;</button>
    <span class="Archive-dateDisplayText">{{ monthNames[date.month] }} {{ date.day }}, {{ date.year }}</span>
    <button id="Archive-articleDateForwardBtn">&gt;</button>

    <input id="Global-searchBar" style="margin-left: 20px;" type="search" placeholder="Search...">
</div>