li.dsq-widget-item {
    margin: 0 !important
}

a.dsq-widget-thread {
    font-weight: 400 !important
}

body {
    background: url(../_img/bg.gif) 50% 0;
    font-family: lucida sans unicode, lucida grande, sans-serif;
    color: #999
}

p {
    color: #999
}

a {
    text-decoration: none;
    color: #38c0fc
}

a:hover {
    color: #ff3fae
}

hr {
    height: 0;
    border: none;
    border-top: #0f0f0f 1px solid;
    border-bottom: 1px solid #3d3c3c;
    margin: 0
}

.header {
    height: 199px
}

.header1 {
    height: 199px;
    background: url(../_img/bgheader.gif) repeat-x 0 100%
}

.headerclouds {
    height: 199px;
    background: url(../_img/clouds.gif) repeat-x 50% 36px
}

.headercontainer {
    margin: 0 auto;
    position: relative;
    height: 199px;
    width: 914px
}

.tigslogo {
    display: block;
    position: absolute;
    top: 25px;
    left: 2px;
    width: 150px;
    height: 162px;
    background: url(../_img/tigslogo.png) no-repeat
}

.tigsource {
    display: block;
    position: absolute;
    left: 161px;
    top: 83px;
    width: 360px;
    height: 58px;
    background: url(../_img/tigsource.gif) no-repeat
}

.navbar {
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 740px;
    height: 33px;
    background: url(../_img/navbar.gif) no-repeat
}

.navbar a {
    display: block;
    float: left;
    height: 33px;
    background: url(../_img/navbar.gif) no-repeat
}

.navbar a.nav_about {
    width: 102px;
    background-position: 0 0
}

.navbar a.nav_about:hover {
    background-position: 0 -33px
}

.navbar a.nav_features {
    width: 105px;
    background-position: -102px 0
}

.navbar a.nav_features:hover {
    background-position: -102px -33px
}

.navbar a.nav_forums {
    width: 117px;
    background-position: -207px 0
}

.navbar a.nav_forums:hover {
    background-position: -207px -33px
}

.navbar a.nav_db {
    width: 81px;
    background-position: -324px 0
}

.navbar a.nav_db:hover {
    background-position: -324px -33px
}

.navbar a.nav_radio {
    width: 100px;
    background-position: -405px 0
}

.navbar a.nav_radio:hover {
    background-position: -405px -33px
}

.contentcontainer {
    width: 914px;
    margin: 0 auto;
    position: relative;
    background: url(../_img/sidebar.gif) repeat-y 100% 0
}

.leftside {
    float: left;
    width: 679px
}

.rightside {
    float: left;
    width: 235px
}

.clear {
    clear: both
}

.sidebar {
    background: #222;
    border-left: #3d3c3c 1px solid;
    border-right: #3d3c3c 1px solid;
    padding-bottom: 190px;
    font-size: 11px
}

.welcome {
    width: 194px;
    padding: 20px
}

.welcome p {
    margin: 15px 0;
    line-height: 14px
}

.sidebar_content p {
    margin: 15px 20px;
    line-height: 14px
}

.sidebar_content {}

.welcomeinputcontainer {
    position: relative;
    width: 194px;
    height: 27px
}

.welcome input {
    background: #111;
    border-left: #000 1px solid;
    border-top: #000 1px solid;
    border-right: #515151 1px solid;
    border-bottom: #515151 1px solid;
    font-family: lucida sans unicode, lucida grande, sans-serif;
    font-size: 11px;
    color: #999;
    padding: 5px 10px;
    height: 17px;
    width: 148px;
    top: 0;
    left: 0;
    position: absolute
}

.smallbutton {
    background: #d7208a url(../_img/arrow.gif) no-repeat 50% 50%;
    border-top: #ff3fae 1px solid;
    border-bottom: #8e0f59 1px solid;
    width: 24px;
    height: 27px;
    display: block
}

.welcomeinputcontainer .smallbutton {
    position: absolute;
    right: 0;
    top: 0
}

.smallbutton:hover {
    background-color: #83d1ff;
    border-top: #9dddff 1px solid;
    border-bottom: #5fbdff 1px solid
}

.textheader {
    background: #d7208a;
    border-top: #ff3fae 1px solid;
    border-bottom: #8e0f59 1px solid
}

.textheader img {
    margin: 6px 10px
}

.archive_header {
    margin-top: 11px;
    margin-bottom: -27px;
    color: #fd2091
}

.blog_post {
    margin-top: 40px;
    width: 640px
}

.blog_post h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: 6px
}

.blog_post h2,
.blog_post h3 {
    display: inline;
    font-size: 11px;
    font-weight: 400
}

.blog_post h2 a,
.blog_post h3 a {
    font-weight: 700
}

.blog_post h3 {
    margin-left: 14px
}

.blog_post p {
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0 15px
}

.blog_post img {
    padding: 5px 10px 13px 0
}

.blog_post_footer {
    border-top: #3d3c3c 1px dashed;
    border-bottom: #3d3c3c 1px dashed;
    color: #666;
    padding: 15px 0;
    padding-left: 18px;
    font-size: 11px;
    background: url(../_img/heart.gif) no-repeat 0 50%
}

.blog_post_footer a {
    font-weight: 700
}

.blog_navigation {
    background: url(../_img/blognav.gif) repeat-x;
    height: 26px;
    position: relative;
    width: 640px;
    margin: 20px 0
}

.olderposts a {
    background: #d7208a url(../_img/olderposts.gif) no-repeat 50% 50%;
    border-top: #ff3fae 1px solid;
    border-bottom: #8e0f59 1px solid;
    width: 125px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    display: block
}

.olderposts a:hover {
    background-color: #83d1ff;
    border-top: #9dddff 1px solid;
    border-bottom: #5fbdff 1px solid
}

.newerposts a {
    background: #d7208a url(../_img/newerposts.gif) no-repeat 50% 50%;
    border-top: #ff3fae 1px solid;
    border-bottom: #8e0f59 1px solid;
    width: 125px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    display: block
}

.newerposts a:hover {
    background-color: #83d1ff;
    border-top: #9dddff 1px solid;
    border-bottom: #5fbdff 1px solid
}

.disable_blog_nav .newerposts {
    background-image: url(../_img/newerposts_disabled.gif)
}

.disable_blog_nav .olderposts {
    background-image: url(../_img/olderposts_disabled.gif)
}

.disable_blog_nav .olderposts:hover,
.disable_blog_nav .newerposts:hover {
    background-color: #d7208a;
    border-top: #ff3fae 1px solid;
    border-bottom: #8e0f59 1px solid
}

.sidebar_footer {
    position: absolute;
    width: 235px;
    height: 164px;
    bottom: 0;
    right: -1px;
    background: url(../_img/sidebarfooter.gif) no-repeat
}

.footer {
    height: 100px;
    background: url(../_img/footer.gif) repeat-x 50% 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff
}

.footer2 {
    height: 100px;
    background: url(../_img/footer2.gif) no-repeat 100% 0;
    width: 914px;
    margin: 0 auto;
    position: relative
}

.footer_tigsource {
    width: 127px;
    height: 54px;
    background: url(../_img/footertigs.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0
}

.copyright {
    position: absolute;
    top: 31px;
    left: 140px
}

.credit {
    position: absolute;
    top: 31px;
    right: 300px
}

.fi {
    position: absolute;
    top: 29px;
    right: 260px;
    width: 30px;
    height: 17px;
    background: url(../_img/fullyillustrated.gif) no-repeat
}

.footer a {
    color: #d7208a
}

.footer a:hover {
    color: #38c0fc
}

.sidebar ul {}

.sidebar li {
    border-top: #3d3c3c 1px solid;
    border-bottom: #0f0f0f 1px solid;
    padding: 6px 42px;
    background: url(../_img/bullet.gif) no-repeat 20px 50%
}

.nobullet li {
    border-top: #3d3c3c 1px solid;
    border-bottom: #0f0f0f 1px solid;
    padding: 11px 20px;
    background: 0 0
}

.socialbar {
    width: 176px;
    height: 43px;
    margin: 15px auto
}

.socialbar a {
    width: 44px;
    height: 43px;
    display: block;
    float: left;
    background: url(../_img/socialbar.gif) no-repeat
}

.socialbar a.yt {
    background-position: 0 0
}

.socialbar a.yt:hover {
    background-position: 0 -43px
}

.socialbar a.fb {
    background-position: -44px 0
}

.socialbar a.fb:hover {
    background-position: -44px -43px
}

.socialbar a.fb {
    background-position: -44px 0
}

.socialbar a.fb:hover {
    background-position: -44px -43px
}

.socialbar a.tw {
    background-position: -88px 0
}

.socialbar a.tw:hover {
    background-position: -88px -43px
}

.socialbar a.rss {
    background-position: -132px 0
}

.socialbar a.rss:hover {
    background-position: -132px -43px
}