.Archive-container {
    display: flex;
    height: 100%;
}

.Archive-articleContainer {
    width: 100%;
}

.Archive-dateDisplay {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Archive-dateDisplayText {
    margin: 0px 10px;
}


.Archive-articleContainer .Archive-websiteColumnContainer {
    background: red;
    display: flex;
}