.Archive-container {
    display: flex;
}

.Archive-sidebarContainer {
    display: flex;
    flex-direction: column;
}

.Archive-sidebarContainer hr {
    width: 80%;
    color: #e1e1e1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Archive-articleContainer {
    /* width: 100%; */
}

.Archive-dateDisplay {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Archive-dateDisplayText {
    margin: 0px 10px;
}


.Archive-articleContainer .Archive-websiteColumnContainer {
    display: flex;
}
.Archive-articleContainer .Archive-websiteColumnContainer-horizontal {
    display: flex;
    flex-direction: column;
}

.Archive-websiteColumn {
    width: 250px; 
    margin-right: 75px;
}
.Archive-websiteColumn-horizontal {
    /* width: 250px;  */
    margin-bottom: 75px;
    display: flex;
}

.Archive-websiteColumn hr {
    display: inline-block;
    align-self: inline-start;
    width: 100%;
}

.Archive-websiteColumnHeader {
    font-weight: 800;
    font-size: 32px;
    color: var(--primary-color);
    cursor: move;
}

.Archive-websiteColumn .Archive-articleThumbnail {
    width: 100%;
}

.Archive-websiteColumn .Archive-noArticleMsg {
    margin-top: 0px;
    padding-top: 6px;
    font-style: italic;
}

.Archive-websiteColumn .Archive-article {
    padding-bottom: 40px;
}

.Archive-websiteColumn .Archive-articleTitle {
    padding-top: 7px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
}
 
.Archive-websiteColumn .Archive-articleTitle:hover {
    text-shadow: -3px 2px 2px #c0e1ff;
}

.Archive-websiteColumn .Archive-articleSubtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    padding-bottom: 3px;
}

.Archive-websiteColumn .Archive-articleAuthor {
    font-weight: 400;
    font-size: 10px;
    padding-top: 9px;
    display: inline-block;
}