.Archive-container {
    display: flex;
    height: 100%;
}

.Archive-articleContainer {
    width: 100%;
}

.Archive-dateDisplay {
    background: blue;
}


.Archive-articleContainer .Archive-websiteColumnContainer {
    background: red;
    display: flex;
}