.ArticleFilters-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

.ArticleFilters-filterContainer {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.ArticleFilters-filterLabel {
    font-weight: bold;
    color: var(--primary-color);
    padding-left: 25px;
}

.ArticleFilters-filterCheckbox {
    accent-color: var(--primary-color);
    width: 15px;
    height: 15px;
    margin: 3px;
    margin-right: 5px;
}

.ArticleFilters-filterCheckboxLabel {
    line-height: 20px;
}

.ArticleFilters-checkboxContainer {
    height: 23px;
    margin: auto 0;
    display: flex;
}