.Calendar-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.Calendar-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.Calendar-header {

}

.Calendar-header .Calendar-monthYearDisplay {
    padding: 0px 10px;
    font-weight: bold;
    width: 110px;
    text-align: center;
}

.Calendar-dateDisplay {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.Calendar-cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.Calendar-dayLabel {
    color: gray;
}

.Calendar-row .Calendar-empty {
    color: white;
}

.Calendar-row .Calendar-linkActive {
    color: blue;
}
.Calendar-row .Calendar-linkActive:hover {
    cursor: pointer;
}
.Calendar-row .Calendar-linkInactive {
    color: gray;
}

#Calendar-hightlight {

}