.FlexTest-container {
    display: flex;
    width: 100%;
}

.FlexTest-rightBoxContainer {
    flex-grow: 1; 
    overflow: auto;
}


.FlexTest-leftBox {
    width: 500px;
    background: blue;
}


.FlexTest-rightBox {
    width: 100%;
    display: flex;
}


.FlexTest-column {
    flex: 0 0 300px;
    margin-right: 25px;
}