.Search-container {
    display: flex;
    flex-direction: column;
}

.Search-header {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.Search-searchBar {
    width: 100%;
}

#Search-resultCount {
    color: gray;
    font-size: 10px;
    margin-top: 5px;
}

#Search-resultsContainer {
    width: 900px;
    margin: 0 auto;
}

#Search-resultsContainer hr {
    width: 500px;
    align-self: start;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 225px;
}

.Search-article {
    width: 800px;
}

.Search-articleInfoLeftPanel {
    float: left;
	width: 200px;
	margin-right: 25px;
	text-align: right;
	font-size: 18px;
}

.Search-articleInfoLeftPanel .Search-articleDate {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.Search-articleMainInfo {
    float: left;
    width: 500px;
}

.Search-articleMainInfo .Search-articleThumbnail {
    width: 230px;
    float: right;
}

.Search-articleMainInfo .Search-articleTitle {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
    width: 250px;
    display: inline-block;
}
.Search-articleMainInfo .Search-articleTitle:hover {
    text-shadow: -3px 2px 2px #c0e1ff;
}

.Search-articleMainInfo .Search-articleSubtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    padding-bottom: 3px;
    width: 250px;
    display: inline-block;
}

.Search-articleMainInfo .Search-articleAuthor {
    font-weight: 400;
    font-size: 10px;
    padding-top: 9px;
    display: inline-block;
    width: 250px;
}

.Search-noArticlesMsg {
    margin-top: 0px;
    padding-top: 6px;
    font-style: italic;
}