<header>
    <a href="/"><img src="/img/logos/logo4.PNG" width="364" height="30" alt="The Videogame Archive" title="The Videogame Archive"/></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/archives">Archives</a></li>
        </ul>
    </nav>
</header>