<header>
    <a href="/"><img src="/img/logos/logo4.PNG" width="364" height="30" alt="The Videogame Archive" title="The Videogame Archive"/></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% comment %} <li><a href="/about">About</a></li> {% endcomment %}
            <li><a href="/search">Search</a></li>
            {% comment %} <li><a href="/2000/10/13">Archives</a></li> {% endcomment %}
        </ul>
    </nav>
</header>