---
layout: 'base.liquid'
pagination:
    data: collections.articleArchives
    size: 1
    alias: date
permalink: "{{ date.year }}/{{ date.month }}/{{ date.day }}/index.html"
title: "Archive"
includeScript: /code/archive.js
---
<div class="Archive-container">

  <div class="Archive-sidebarContainer">
    {% render "components/calendar.liquid" %}
    <hr>
    {% render "archive/filterSettings.liquid" websites: collections.websites articleTypes: collections.articleTypes %}
  </div>

  <hr class="Global-vertical">

  <div class="Archive-articleContainer">
    {% render "archive/articleDateHeader.liquid", date: date %}

    <div class="Archive-websiteColumnContainer">
      {% assign websiteColumnOrder = 1 %}
      {% for website in collections.websites %}
        {% render "archive/websiteColumn.liquid", website: website, articles: date.articles[website.data.name], year: date.year, month: date.month, thumbnailRoot: config.localFileBaseUrl, columnOrder: websiteColumnOrder %}
        {% assign websiteColumnOrder = websiteColumnOrder | plus: 1 %}
      {% endfor %}
    </div>

  </div>

</div>