---
title: DragTest
layout: 'base.liquid'
includeScript: /code/dragTest.js
---

<!--<div class="container">
  <div draggable="true" class="box">A</div>
  <div draggable="true" class="box">B</div>
  <div draggable="true" class="box">C</div>
</div>-->

<div class="Archive-articleContainer">
    <div class="Archive-websiteColumnContainer">
        <div class="Archive-websiteColumn" id="Archive-websiteColumnIndygamer" style="order: 1">
            <!-- header -->
            <span class="Archive-websiteColumnHeader" draggable="true">Indygamer</span>
            <br><hr/>    
            
            <!-- articles -->
            <p class="Archive-noArticleMsg">No articles found for this date.</p>    
        </div>
        
        <div class="Archive-websiteColumn" id="Archive-websiteColumnJayIsGames" style="order: 2">
            <!-- header -->
            <span class="Archive-websiteColumnHeader" draggable="true">JayIsGames</span>
            <br><hr/>    
            
            <!-- articles -->
            <p class="Archive-noArticleMsg">No articles found for this date.</p>    
        </div>
        
        <div class="Archive-websiteColumn" id="Archive-websiteColumnTIGSource" style="order: 3">
            <!-- header -->
            <span class="Archive-websiteColumnHeader" draggable="true">TIGSource</span>
            <br><hr/>    
            
            <!-- articles -->
            <p class="Archive-noArticleMsg">No articles found for this date.</p>    
        </div>
    </div>
</div>