---
title: Search
layout: 'base.liquid'
includeScript: /code/search.js
---

<div class="Search-container">
    <!-- search bar -->
    <div class="Search-header">
        <input id="Global-searchBar" class="Search-searchBar" type="search" placeholder="Search...">
        <div id="Search-resultCount"></div> 
    </div>

    <!-- progress bar -->
    <div id="Search-progressBar" style="width: 80px; margin: auto;">
        {% render "components/progressBarCircle.liquid" %}
    </div>

    <!-- results -->
    <div id="Search-resultsContainer">
    </div>
</div>
