.date-header {
    padding-left: 30%;
    padding-bottom: 15px;
}

#date-display {
    width: 150px;
    display: inline-block;
    text-align: center;
}

#articles {
    /* padding-left: 200px; */
}

.article-container {
    margin-left: 300px;
    padding-top: 25px;
    padding-left: 25px;
    height: 1000px;

    /* background-image: linear-gradient(rgb(130 250 215), rgb(241 247 148)); */
    /* background:rgb(253, 253, 247); */
}

.article {
    padding-bottom: 40px;
    width: 375px;
}

.article-title {
    padding-top: 7px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
    /* for the side-by-side */
    /* margin-left: 160px; 
    width: 265px;
    display: inline-block; */
}

.article-title:hover {
    text-shadow: -3px 2px 2px #c0e1ff;
}

.article-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    padding-bottom: 3px;
    /* for the side-by-side */
    /* margin-left: 160px;
    width: 265px;
    display: inline-block; */
}

.article-author {
    font-weight: 400;
    font-size: 10px;
    padding-top: 9px;
    display: inline-block;
    /* for the side-by-side */
    /* margin-left: 160px; 
    width: 265px;
    display: inline-block; */
}

.no-article-msg {
    margin-top: 0px;
    padding-top: 6px;
    font-style: italic;
}

.news-site-column {
    width: 450px;
    position: absolute;
}

.news-site-column-header {
    font-weight: 800;
    font-size: 32px;
    color: var(--primary-color);
}

body {
    font-family: 'Cabin';
    /* background-image: url('../img/noise.png'); */
    background-size: stretch; 
    background-color: #fbfcf8;
}

.article-thumbnail {
    /* width: 150px; */
    /* position: absolute;
    margin-top: 11px; */
    width: 100%;
}

#calendar-border {
    position: absolute;
    border: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 1%;
    height: 211px;
    width: 244px;
    margin-left: 27px;
    pointer-events: none;
}