#calendar-month {
    position: fixed;
    margin-top: 25px;
    margin-left: 25px;
    width: 180px;
}

.date-header {
    padding-left: 30%;
    padding-bottom: 15px;
}

#date-display {
    width: 150px;
    display: inline-block;
    text-align: center;
}

#articles {
    /* padding-left: 200px; */
}

.article-container {
    margin-left: 300px;
    padding-top: 25px;
    padding-left: 25px;
    height: 1000px;

    /* background-image: linear-gradient(rgb(130 250 215), rgb(241 247 148)); */
    /* background:rgb(253, 253, 247); */
}

.article {
    padding-bottom: 40px;
}

.article-title {
    padding-top: 7px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;
}

.article-subtitle {
    font-weight: 400;
    /* font-style: italic; */
    font-size: 12px;
}

.article-author {
    font-weight: 400;
    font-size: 10px;
    padding-top: 9px;
    display: inline-block;
}

.no-article-msg {
    margin-top: 0px;
    padding-top: 6px;
    font-style: italic;
}

.week {
    
}

.news-site-column {
    width: 300px;
    position: absolute;
}

.news-site-column-header {
    font-weight: 800;
    font-size: large;
}

.day {
    width: 25px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}


#calendar-title {
    width: 120px;
    display: inline-block;
}

.link-active {
    color: blue;
}

.link-inactive {
    color: gray;
}

.current-date-highlight {
    /* background: rgb(241 247 148); */
    width: 18px;
    height: 10px;
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 50%;
}

body {
    font-family: 'Roboto'
}

.article-thumbnail {
    width: 100%;
}