#calendar-month {
    position: fixed;
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
}

.date-header {
    padding-left: 30%;
    padding-bottom: 15px;
}

#date-display {
    width: 180px;
    display: inline-block;
    text-align: center;
    /* font-family: 'Proza Libre', serif; */
}

#articles {
    /* padding-left: 200px; */
}

.article-container {
    margin-left: 300px;
    padding-top: 25px;
    padding-left: 25px;
    height: 1000px;

    background-image: linear-gradient(rgb(130 250 215), rgb(241 247 148));
}

.article {
    padding-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

.no-article-msg {
    margin-top: 0px;
    padding-top: 6px;
    font-style: italic;
}

.week {
    
}

.news-site-column {
    width: 350px;
    position: fixed;
}

.news-site-column-header {
    font-weight: bold;
    /* font-family: 'Proza Libre', serif; */
}

.day {
    width: 32px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    text-align: center;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}


#calendar-title {
    width: 150px;
    display: inline-block;
    /* font-family: 'Proza Libre', serif; */
}

.link-active {
    color: blue;
}

.link-inactive {
    color: gray;
}

.current-date-highlight {
    background: rgb(241 247 148);
    width: 18px;
    height: 10px;
    padding-top: 3px;
    margin-left: 7px;
    margin-right: 8px;
    border-radius: 50%;
}

.container {
    font-family: 'Roboto Mono', monospace;
}