

#current-date-highlight {
    background: var(--primary-color);
    color: white;
    /* border-radius: 50%; */
}

#calendar-dates {
    padding-left: 26px;
    padding-right: 25px;
}

.weekday-label {
    color: gray;
    width: 35px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: default;
    text-align: center;
}

.weekday-header {
    background: #f3f2f2;
    margin-left: 1px;
    margin-right: 1px;
    border-bottom: solid;
    border-color: gray;
}


#calendar-title {
    width: 120px;
    display: inline-block;
}

.link-active {
    color: var(--primary-color);
}

.link-inactive {
    color: gray;
}

.day {
    width: 35px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    text-align: center;
    outline: solid;
    outline-width: 1px;
    outline-color: gray;
    text-decoration: none;
}
.day-no-date {
    width: 35px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: default;
    text-align: center;
    background: #d5dbdd;
    color: #d5dbdd;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}

.week {
    margin-left: 2px;
    margin-right: 2px;
}

#calendar-month {
    position: absolute;
    margin-top: 69px;
    /* margin-left: 25px; */
    width: 300px;
}