

#current-date-highlight {
    background: rgb(241 247 148);
    width: 25px;
    height: 12px;
    padding-top: 3px;
    padding-left: 1px;
    margin-left: 4px;
    /* border-radius: 50%; */
}


#calendar-title {
    width: 120px;
    display: inline-block;
}

.link-active {
    color: var(--primary-color);
}

.link-inactive {
    color: gray;
}

.day {
    width: 35px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    text-align: center;
}


.month-year-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    
}

.week {
    
}

#calendar-month {
    position: fixed;
    margin-top: 25px;
    /* margin-left: 25px; */
    width: 300px;
}